
  <mat-toolbar color="primary">
  <span>Creación de facturas</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<br>
<div class="container1">
 <h3>Numero Factura:</h3>
  <input type="number" [value]='this.p_num_factura'>
 <h3>
  Fecha:
 </h3>
 <h3>
  Total:
 </h3>

  
</div>
<div class="btnContainer">
  <div class="col">
    <button mat-raised-button color="warn" (click)="openFacturaDialog()">Nueva factura</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="openDetalleFacturaDialog()">Nuevo producto</button>
  </div>  
</div>

  <div class="container">
    <div style="margin-top: 10px;">

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- Columna Codigo -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
            <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
          </ng-container>
      
          <!-- Columna Producto -->
          <ng-container matColumnDef="producto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
            <td mat-cell *matCellDef="let row"> {{row.producto}}% </td>
          </ng-container>
      
          <!-- Columna Cantidad -->
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let row"> {{row.cantidad}} </td>
          </ng-container>
      
          <!-- Columna Precio -->
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
            <td mat-cell *matCellDef="let row"> {{row.precio}} </td>
          </ng-container>
      
           <!-- Columna Total -->
           <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
            <td mat-cell *matCellDef="let row"> {{row.total}} </td>
          </ng-container>

          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
            <td mat-cell *matCellDef="let row">
              <button (click)="deleteDetalleFactura(row.codigo,this.p_num_factura,row.nombreProducto)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
       
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
      
      

    </div>
  </div>
